<!--The content below is only a placeholder and can be replaced.-->
<fieldset class="parent_field">
  <legend>
    Welcome to {{title}}!
  </legend>
  <form (submit)="power = power_level">
    Power Level:<input type="number" name="power_level" min="0" max="100" [(ngModel)]="power_level">
    <input type="submit" value="Calculate Powers">
  </form>
  <div>
    <app-human [power]="power"></app-human>
    <app-saiyan [power]="power*10"></app-saiyan>
    <app-super-saiyan [power]="power*90"></app-super-saiyan>
  </div>
  <div>
    <app-super-saiyan2 [power]="power*150"></app-super-saiyan2>
    <app-super-saiyan3 [power]="power*250"></app-super-saiyan3>
    <app-super-saiyan4 [power]="power*500"></app-super-saiyan4>
  </div>
</fieldset>


